:root {
    --body-bg: #123;
    --nav-bg: rgb(69, 92, 115);
}


body {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--body-bg);
    color: white;
    display: grid;
    grid-template-columns:  1fr 20rem;
    gap: 1rem
}

.nav-wrapper {
    background-color: var(--nav-bg);
    height: 100vh;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    gap: 2rem;
    padding-block: 2rem 4rem;
    font-size: 2rem;
    padding-right: 2rem;
}

.sidebar-item {
    border-radius: 0 1rem 1rem 0;
    text-align: right;
}

.sidebar-item a {
    color: white;
    text-decoration: none;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.active {
    background-color: var(--body-bg);
    position: relative;
}

.active::after,
.active::before {
    --border-size: 1rem;

    content: "";
    position: absolute;
    height: var(--border-size);
    width: var(--border-size);
    left: 0;
    background-color: transparent;
}

.active::after {
    bottom: calc(var(--border-size) * -1);
    box-shadow: -5px -5px 0 5px var(--body-bg);
    border-radius: 50% 0 0 0;
}

.active::before {
    top: calc(var(--border-size) * -1);
    box-shadow: -5px 5px 0 5px var(--body-bg);
    border-radius: 0 0 0 50%;
}

.content {
    position: relative;
    margin: 36px 24px;
    font-size: 1rem;
    line-height: 2rem;
}

.headingStyle {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.readMore {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 31rem;
    gap: 16px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headingContact {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-style: bold;
    text-align: center;
}

.item {
    height: 24px;
    width: 500px;
    padding-top: 10px;
    outline: 0;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 12px;
    color: #454545;
}

.send {
    font-family: "Roboto Condensed", sans-serif;
    height: 36px;
    width: 150px;
    padding: 8px;
    background-color: #2a2a2a;
    border: none;
    font-size: 10px;
    color: white;
    text-align: center;
    margin: auto;
}

.hoverElem:hover {
    cursor: pointer;
}

.messageArea {
    height: 72px;
    width: 500px;
    padding-top: 10px;
    outline: 0;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 12px;
    color: #454545;
}

.pageFooter {
    position: absolute;
    padding: 36px;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    top: 90%;
    left: 15%;
    transform: translate(-50%, -50%);
}
.smLink {
    text-decoration: none;
    color: #f5f5dc;
    padding: 8px;
}

.smLink:hover {
    cursor: pointer;
    border-bottom: 1px solid;
}